@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #ffdcf2;
  color: rgb(0, 0, 0);
}

/* SCROLL BODY */
body {
  overflow: scroll;
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  transition: 1s;
}

body::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #dc2777;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #dc2777;
}
